---
layout: default
disqus: false
archive: false
post_class: post-template
---

{% include base_path %}

<div class="row breadcrumbs">
	<div class="col-md-12">
		<ul class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="/archive/">Posts</a></li>
			<li>{{ page.title }}</li>
		</ul>
	</div>
</div>

	<div class="row">
		<div class="col-md-10">
			<article class="post">
			<header>
				<h2 class="post-title">{{ page.title }}</h2>
				
				<section class="post-meta">
					{% capture page_tags %}{% for tag in page.tags %}{{ tag | downcase }}#{{ tag }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
					{% assign tag_hashes = page_tags | split: ',' | sort:0 %}
					<span itemprop="keywords">
					{% for hash in tag_hashes %}
					  {% assign keyValue = hash | split: '#' %}
					  {% capture tag_word %}{{ keyValue[1] | strip_newlines }}{% endcapture %}
					  <a href="/tags/#{{ tag_word | slugify }}" class="page__taxonomy-item" rel="tag">{{ tag_word }}</a>{% unless forloop.last %}<span class="sep">, </span>{% endunless %}
					  <!--{{ tag_word }}{% unless forloop.last %}<span class="sep">, </span>{% endunless %}-->
					{% endfor %}
					</span>
					{% if page.author %}
					<span class="author">{{ page.author }} </span>
					{% endif %}
					<time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
				</section>
			</header>
			
			<section class="post-content">
				{{content}}
			</section>

			{% if page.archive %}
			<section class="archive">
				<h5>Archive</h5>
				<ul>
					{% for post in site.posts %}
						<li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
					{% endfor %}
				</ul>
			</section>
			{% endif %}

			<footer class="post-footer">

				<!-- Share links section -->
				{% include share.html %}

				<!-- Disqus comments -->
				{% if site.disqus %}
					{% include disqus.html %}
				{% endif %}

			</footer>
			</article>
		</div>
	</div>

